<%- include('./partials/header') %>
<body>
    <main>
        <!-- <div class="dashboard">Dashboard</div> -->
        <div class="current-rss-lineup-label">Current RSS Lineup</div>

        <div class="current-rss-lineup">
            <% for( let index = 0; index < state.payload.length; index++ ) { %>
                <div class="rss-item" data-_id="<%= state.payload[index]._id || 'no id' %>">
                    <div class="source"><%= state.payload[index].source %></div>
                    <div class="title" ><%= state.payload[index].title %></div>
                    <div class="author"><%= state.payload[index].author || 'no author mentioned' %></div>
                </div>
            <% } %>
        </div>

        <div class="manual-ingestion-label">Manual URL Ingestion</div>
        <div class="manual-ingestion">
            <input class="manual-ingestion-input" type="text" placeholder="paste the url here">
            <div class="manual-ingestion-submit">submit</div>
        </div>
        <div class="manual-ingestion-errors"></div>
        <div class="active-item-container">
            <div class="active-item-view">
                <div class="left-side">
                    <div class="active-item-title">article details</div>
                    <div class="author-source-block">
                        <div class="active-item-author"></div>
                        <div class="active-item-break"></div>
                        <div class="active-item-source"></div>
                    </div>
                    <div class="active-item-articleText"></div>
                </div>
                <div class="right-side">
                    <div class="active-item-links">Links</div>
                </div>
            </div>
            <div class="active-item-signalScore">
                <div class="active-item-signalScore-label">signalScore</div>
                <div class="active-item-signalScore-sep">|</div>
                <div class="active-item-signalScore-value">0</div>
            </div>
        </div>
 
        <div class="active-item-view-label">Active Item View</div>
        
    </main>

    <script src="/js/dashboardScript.js"></script>

    <%- include('./partials/footer') %>

